  {% load static %}
  <link rel="icon" href="{% static 'images/favicon-32x32.png' %}" type="image/ico" />
  <link rel="stylesheet" href="{% static 'icofont/icofont.min.css' %}">
  <link rel="stylesheet" href="{% static 'icofont/icofont.css' %}">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'deepakblog:index' %}"><img src="{% static 'images/logo.png' %}" alt="logo" class="img fluid img-responsive" style="display: inline-block; width: 30%;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'deepakblog:index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'deepakblog:productMaster' %}">Products</a>
          </li>
        </ul>
          <span class="p-1">Hello, {{request.user}}</span>
          <a href="{% url 'deepakblog:userlogout' %}" class="btn btn-primary" type="submit">Logout</a>
      </div>
    </div>
  </nav>