{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepak Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    {% include 'deepakblog/header.html' %}
    {% block content %}
    <div class="conatiner m-2">
        <h4 class="text-success text-uppercase text-center">Welcome {{request.user}}, Crud Operation with Django</h4>
        <div class="d-flex justify-content-end">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add Musician
            </button>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
                    <strong><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></strong>
                  </div>
                {% endfor %}
            </ul>
        {% endif %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Musician Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="POST">                
                    <div class="modal-body">
                        <span id="musicianId"></span>
                        {% csrf_token %}
                        {{form.as_p}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Save</button>
                        <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <div class="container-md py-2" >
            <h4 class="text-center">Musician Details</h4>
            <table class="table table-info table-striped table-responsive text-center">
                <thead>
                    <tr class="bg-dark">
                      <th>S.R</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Instrument</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for musician in music %}
                        <tr>
                            <td>{{musician.id}}</td>
                            <td>{{musician.first_name}}</td>
                            <td>{{musician.last_name}}</td>
                            <td>{{musician.instrument}}</td>
                            <td>
                                <a href="#" class="btn btn-success" onclick="showMusician({{musician.id}});">Edit</a>
                            </td>
                            <td>
                                <form action="{% url 'deepakblog:musicianDelete' %}" method="POST">
                                    <input type="hidden" value="{{musician.id}}" name="musicID">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock content %}
    {% include 'deepakblog/footer.html' %}
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/all.min.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
    <script>
        function showMusician(id)
        {
            var mid = id;
            var token = '{{csrf_token}}';
            $('#musicianId').html('<input type="hidden" id="EidtId" name="EditId">');
            $.ajax({
                headers: { "X-CSRFToken": token },
                url: '',
                type: 'POST',
                data: {mid:mid},
                dataType: 'json',
                success: function (data) {
                    $('#EidtId').val(data[0].pk);
                    var data = data[0].fields;
                    $('#id_first_name').val(data.first_name);
                    $('#id_last_name').val(data.last_name);
                    $('#id_instrument').val(data.instrument);
                    $('#exampleModal').modal('show');
                }
            });
        }
    </script>
</body>
</html>