{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepak Products</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        *{ 
            margin: 0;
            padding: 0;
        }
        .product-icon
        {
            height: 20px;
            width: 20px;
            background-color: rgb(8, 1, 107);
            border-radius: 50%;
            display: inline-block;
        }
        .icofont{
            color: #000;
        }
        .card{
            height: 250px;
        }
    </style>
</head>
<body>
    {% include 'deepakblog/header.html' %}
        {% block content %}
            <h3 class="text-center text-danger">All Our Products</h3>
            
            <div class="container-fluid text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card bg-danger">
                                <div class="card-header">
                                <span class=""><i class="product-icon"></i></span>  Product Master
                                </div>
                                <div class="card-body">
                                  <a href="{% url 'deepakblog:productMasterView' %}"class="text-white nav-link"><i class="text-dark fa fa-check "></i> Add Product Details</a>
                                  <a href="{% url 'deepakblog:testMail' %}" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Show Product</a>
                                  <a href="{% url 'deepakblog:testMail' %}" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Product Management</a>
                                  <a href="{% url 'deepakblog:testMail' %}" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Product Categories Filter</a>
                                
                                </div>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card bg-danger">
                                <div class="card-header">
                                    <span class=""><i class="product-icon"></i></span> Email Master
                                </div>
                                <div class="card-body">
                                  <a href="{% url 'deepakblog:testMail' %}" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Test Email</a>
                                  <a href="{% url 'deepakblog:testMail' %}" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Test Email With Attatchment</a>
                                  <a href="{% url 'deepakblog:testMail' %}" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Test Email Specific Attatchment</a>
                                  <a href="{% url 'deepakblog:testMail' %}" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Test Email send invoice to user</a>
                                
                                </div>
                              </div> 
                        </div>
                        <div class="col-md-4">
                            <div class="card bg-danger">
                                <div class="card-header">
                                <span class=""><i class="product-icon"></i></span>Payment Gatewaye paypal 
                                </div>
                                <div class="card-body">
                                    <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Test payment </a>
                                    <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Configuration Documnets </a>
                                    <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Product Buy and Add to Cart </a>
                                    <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Security To Handle Payment Process Does Not Hacked</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-4">
                            <div class="card bg-danger">
                                <div class="card-header">
                                    <span class=""><i class="product-icon"></i></span> HR SERVICES
                                </div>
                                <div class="card-body">
                                  <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> HR SERVICES PROVIDED BY HR[LIST]</a>
                                  <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Fire to Hire</a>
                                  <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Salary Management</a>
                                  <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Attandance Management</a>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card bg-danger">
                                <div class="card-header">
                                    <span class=""><i class="product-icon"></i></span> Check IN and Check OUT System 
                                </div>
                                <div class="card-body">
                                    <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> User Check </a>
                                    <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> User Checkout</a>
                                    <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Holiday Management</a>
                                    <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> Leave Management</a>
                                </div>
                              </div> 
                        </div>
                        <div class="col-md-4">
                            <div class="card bg-danger">
                                <div class="card-header">
                                    <span class=""><i class="product-icon"></i></span> NEAR BY USER FOUNDATION
                                </div>
                                <div class="card-body">
                                    <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> SERVICES NEAR BY USER</a>
                                    <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> SEARCH PATTERN FILTER</a>
                                    <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> NEAR BY BEST SERVICES PROVIDERS</a>
                                    <a href="#" class=" text-white nav-link"><i class="text-dark fa fa-check "></i> USER FEEDBACK SERVCES PROVIDER</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock content %}
    {% include 'deepakblog/footer.html' %}
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/all.min.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
    
</body>
</html>